@charset"utf-8";
*{
	padding: 0; margin: 0; list-style: none; text-decoration: none; color: #000;
}
/*공통*/
.container{
	width: 1190px; margin: 0 auto; box-sizing: border-box;
}
.container-fluid{ min-width: 1190px;
}
.whale-box{
height: 49px; background: #f3f1ff; 
}
.search-box{
	/* 자손의 logo-box position이 absolute이기 때문에 position: relative;
	   을 넣어줘서 log-box가 browser쪽이 아닌 search-box쪽으로 오기 위해서 */
position: relative; height: 160px; background: orange;
}
.logo-box{
	height: 52px; width: 222px;
	position: absolute; top: calc(50% - 26px); 
}
.logo{
	display: block; width: 100%; height: 100%;
	background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_5f355c.png);
	background-size: 444px 439px;
	background-position: 0 -
}
.search-input-box {
	height: 56px; width: 586px; background: skyblue; 
	position: absolute; top: calc(50% - 28px; left: 268px;)
}
.search-box2 {
	height: 52px; width
}
.menu-box{
	height: 52px; background: #0f0;
}
.contents-box{
	 min-height: 1000px; background: #00f;
}
.footer-box{
	 height: 423px;  background: plum;
}
<style>
		.box{
			height: 100px; background: yellow;
		}
		.logo{
			height: 50px; width: 150px; background: #0f0;
			position: absolute; top: 33px; left: 33px; z-index: 1;
		}
	</style>
</head>
<body>
	<!-- z-index가 높아도 position이 static이면 position이 absolute인 요소 아래에 배치 -->
	<!-- 이때 position이 static 요소를 위로 올리고 싶으면 position을 relative로 수정 -->
	<div class="box"></div>
	<div class="logo">LOGO</div>